/*  Copyright 2013  Guillaume Assire aka AlphaGolf (alphagolf@rocketmail.com)
	
	This program is free software; you can redistribute it and/or modify
	it under the terms of the GNU General Public License, version 2, as 
	published by the Free Software Foundation.
	
	This program is distributed in the hope that it will be useful,
	but WITHOUT ANY WARRANTY; without even the implied warranty of
	MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
	GNU General Public License for more details.
	
	You should have received a copy of the GNU General Public License
	along with this program; if not, write to the Free Software
	Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301  USA
*/

/**
 * Notification Icons
 */
 
#wpadminbar #wp-admin-bar-symposium-toolbar-notifications-mail .ab-icon-mail {
	background-image: url('../images/mail-open.png');
	background-color: transparent;
	background-repeat: no-repeat;
	padding-left: 2px;
	padding-right: 2px;
	float:left;
}

#wpadminbar #wp-admin-bar-symposium-toolbar-notifications-mail .ab-icon-new-mail {
	background-image: url('../images/mail-closed.png');
	background-color: transparent;
	background-repeat: no-repeat;
	padding-left: 2px;
	padding-right: 2px;
	float:left;
}

#wpadminbar #wp-admin-bar-symposium-toolbar-notifications-friendship .ab-icon-friendship {
	background-image: url('../images/friends.png');
	background-color: transparent;
	background-repeat: no-repeat;
	padding-left: 2px;
	padding-right: 2px;
	float:left;
}

#wpadminbar #wp-admin-bar-symposium-toolbar-notifications-friendship .ab-icon-new-friendship {
	background-image: url('../images/new-friend.png');
	background-color: transparent;
	background-repeat: no-repeat;
	padding-left: 2px;
	padding-right: 2px;
	float:left;
}

#wpadminbar #wp-admin-bar-symposium-toolbar-notifications-mail .ab-item-new-mail,
#wpadminbar #wp-admin-bar-symposium-toolbar-notifications-friendship .ab-item-new-friendship {
	font-weight:bold;
	color: #70b859;
}

/**
 * User Menu
 */
 
 /* Styling the User Menu for a correct partial display */
#wpadminbar #wp-admin-bar-my-account .wpst-user-actions {
	min-height: 84px;
}

#wpadminbar #wp-admin-bar-my-account .wpst-user-info {
	min-height: 64px;
}

#wpadminbar #wp-admin-bar-my-account .wpst-avatar {
	left: 16px;
}

/* Add Admin Role to User Menu */
#wpadminbar #wp-admin-bar-my-account .wpst-role-administrator {
	border: 1px solid red;
	padding: 0 0 10px 15px;
	margin: 10px 0 10px 0;
}

/**
 * Custom menu icons
 */
 
#wpadminbar .wpst-icon {
	position: relative;
	float: left;
	width: 16px;
	height: 16px;
	margin-top: 6px;"
}

/**
 * Admin Dashboard Options Page Items
 */

/* WPST tabs */
.wpst-nav-tab {
	cursor: pointer;
}

.wpst-nav-tab-active{
	background-color: #F9F9F9;
}

.wpst-nav-div {
	display: none;
}

.wpst-nav-div-active {
	display: inline;
}

/* Roles */
.wpst_roles_checkboxes span {
    padding-right: 10px;
}

/* Styles tables */
.wpst-widefat {
	border: none;
	line-height: 1.4em;
}

.wpst-widefat td {
	padding: 9px;
	width:14%;
}

.wpst-positive-int, .wpst-int, .wpst-percent {
	width: 50px;
}

/* Refines WP colorpicker */
.wp-color-picker-field {
	width: 67px;
}
